//colors
$main-color: #14213d;
$font-main-color: #d0ff00;
$secondry-color: #fca311;
$border-color: #fffd8f;
$dark-border-color: #e1e5f2;
$main-button-color: #fca311;
$secondary-button-color: #e5e5e5;
$details-text-color:#949494;
$list-btns-color: #e1e5f2;
$periods-color: #135972;
$sidebar-general-color: #0077b6;
$news-title-color: #e63946;
$gain-color: #135972;
$lose-color: #ff3737;


//shadows
$main-shadow: 1px 1px 4px #9292927b;


//fonts
// SASS variables for font-family
$amsi-pro-regular: 'Amsi Pro AKS Normal Regular', sans-serif;
$amsi-pro-bold: 'Amsi Pro AKS Normal Bold', sans-serif;
$amsi-pro-semi-light: 'Amsi Pro AKS Normal SemiLight', sans-serif;
$amsi-pro-italic: 'Amsi Pro AKS Normal Italic', sans-serif;
$amsi-pro-ultra: "Amsi Pro AKS Normal Ultra";
// Regular
@font-face {
  font-family: 'Amsi Pro AKS Normal Regular';
  src: url('/assets/fonts/amsi/AmsiProAKSNormal-Regular.woff2') format('woff2'),
       url('/assets/fonts/amsi/AmsiProAKSNormal-Regular.woff') format('woff'),
       url('/assets/fonts/amsi/AmsiProAKSNormal-Regular.ttf') format('truetype'),
       url('/assets/fonts/amsi/AmsiProAKSNormal-Regular.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

// Bold
@font-face {
  font-family: 'Amsi Pro AKS Normal Bold';
  src: url('/assets/fonts/amsi/AmsiProAKSNormal-Bold.woff2') format('woff2'),
       url('/assets/fonts/amsi/AmsiProAKSNormal-Bold.woff') format('woff'),
       url('/assets/fonts/amsi/AmsiProAKSNormal-Bold.ttf') format('truetype'),
       url('/assets/fonts/amsi/AmsiProAKSNormal-Bold.eot') format('embedded-opentype');
  font-weight: bold;
  font-style: normal;
}

// Semi-Light
@font-face {
  font-family: 'Amsi Pro AKS Normal SemiLight';
  src: url('/assets/fonts/amsi/AmsiProAKSNormal-SemiLight.woff2') format('woff2'),
       url('/assets/fonts/amsi/AmsiProAKSNormal-SemiLight.woff') format('woff'),
       url('/assets/fonts/amsi/AmsiProAKSNormal-SemiLight.ttf') format('truetype'),
       url('/assets/fonts/amsi/AmsiProAKSNormal-SemiLight.eot') format('embedded-opentype');
  font-weight: 300; // For Semi-Light, adjust the weight
  font-style: normal;
}

// Italic
@font-face {
  font-family: 'Amsi Pro AKS Normal Italic';
  src: url('/assets/fonts/amsi/AmsiProAKSNormal-Italic.woff2') format('woff2'),
       url('/assets/fonts/amsi/AmsiProAKSNormal-Italic.woff') format('woff'),
       url('/assets/fonts/amsi/AmsiProAKSNormal-Italic.ttf') format('truetype'),
       url('/assets/fonts/amsi/AmsiProAKSNormal-Italic.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
    font-family: 'Amsi Pro AKS Normal Ultra';
    src: url('/home/bisky/repos/node/TOP-FULLSTACK/Inventory-App/client/dist/assets/fonts/font1/AmsiProAKSNormal-Ultra.woff2') format('woff2'),
         url('/home/bisky/repos/node/TOP-FULLSTACK/Inventory-App/client/dist/assets/fonts/font1/AmsiProAKSNormal-Ultra.woff') format('woff'),
         url('/home/bisky/repos/node/TOP-FULLSTACK/Inventory-App/client/dist/assets/fonts/font1/AmsiProAKSNormal-Ultra-Italic.ttf') format('truetype'),
         url('/home/bisky/repos/node/TOP-FULLSTACK/Inventory-App/client/dist/assets/fonts/font1/AmsiProAKSNormal-Ultra.eot') format('embedded-opentype');
    font-weight: normal;
    font-style: italic;
  }


  body{
    font-family: $amsi-pro-bold;
  }

